@inject Store store
<div class="form-inline">
    <p class="text-light mr-1 @(CssHelper.GetCssCalcString(4,4))">
        @store.CircleLine.CompanyType.CompanyAcronym()
    </p>
    @for (int i = 0; i < 5; i++)
    {
        store.CircleLine.Shares.TryGetElementAtIndex(i, out var share);
        <input type="text" class="col-2 text-center" disabled value="@(share?.Burned ?? false ? "X" : (share?.DiceTotal / 2).ToString())" />
    }
</div>
@code {
    public void Refresh()
    {
        StateHasChanged();
    }
}