@inject SharesService sharesService
@inject Store store

<Dice AllocationType="AllocationType.Share"
      MaxAllocations="2"
      OnAllocatedEventHandler="OnDieAllocated"></Dice>
<div class="bg-green rounded col-xs-12 col-md-6 mx-auto p-3">
    <h2 class="mb-2 text-light">Shares</h2>
    <SquareRailSharesComponent @ref="squareRailSharesComponent"></SquareRailSharesComponent>
    <CircleLineSharesComponent @ref="circleLineSharesComponent"></CircleLineSharesComponent>
    <PentagonExpressSharesComponent @ref="pentagonExpressSharesComponent"></PentagonExpressSharesComponent>
    @if (availableShares.Any())
    {
        <h4 class="mt-2">Purchase Options</h4>
        <div class="btn-group mx-auto mt-2">
            @foreach (var availableShare in availableShares)
            {
                <button class="btn bg-cream" @onclick="() => BuyShare(availableShare)">
                    @availableShare.CompanyType.CompanyAcronym()
                </button>
            }
        </div>
    }
</div>

@code {
    private SquareRailSharesComponent squareRailSharesComponent;
    private CircleLineSharesComponent circleLineSharesComponent;
    private PentagonExpressSharesComponent pentagonExpressSharesComponent;
    private List<Share> availableShares = new List<Share>();
    private Die dieOne;
    private Die dieTwo;

    void OnDieAllocated(Die die)
    {
        var deallocatedDie = false;
        if (die.Id == dieOne?.Id)
        {
            dieOne = null;
            deallocatedDie = true;
        }
        else if (die.Id == dieTwo?.Id)
        {
            dieTwo = null;
            deallocatedDie = true;
        }
        else if (dieOne == null)
        {
            dieOne = die;
        }
        else
        {
            dieTwo = die;
        }

        if (deallocatedDie && store.CurrentRound.Share != null)
        {
            sharesService.ReturnShare();
        }

        if (dieOne != null && dieTwo != null)
        {
            availableShares = sharesService.GetShareOptions(dieOne, dieTwo);
        }

        StateHasChanged();
        RefreshChildren();
    }

    void BuyShare(Share share)
    {
        sharesService.BuyShare(share);
        availableShares.RemoveAll(x => x != null);
        StateHasChanged();
        RefreshChildren();
    }

    void RefreshChildren()
    {
        // TODO: Get rid of these manual refresh calls.
        squareRailSharesComponent.Refresh();
        circleLineSharesComponent.Refresh();
        pentagonExpressSharesComponent.Refresh();
    }
}
